html, body {
    margin: 0;
    padding: 0;
}

.RouteMap .out-background {
    background-color: #9EC75D;
    width: 1024px;
    height: 600px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.RouteMap .inside-background {
    background-color: white;
    border-radius: 7px;
    padding: 15px;
    position: relative;
    top: 20px;
    margin: 0 20px;
    width: 954px;
    height: 363px; 
}

.RouteMap .inside-background h1 {
    text-align: left;
    font-size: 40px;
    margin: 0 0 0 170px;
}

.route-line {
    height: 248px;
}
.useScroll_scroll__1bR1m .useScroll_scrollInnerContainer__2E6ME{
    height:248px;
}
.useScroll_scrollContentWrapper__1mrFS {
    height: 248px;
}

.RouteMap .box {
    display: flex;
    flex-direction: row;
}

.RouteMap .left-box {
background-color: #E2EECE;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
margin: 19px 0 0 0;
width: 470px;
height: 290px;
}

.RouteMap .right-box {
    /* background-color: #E2EECE; */
    border-radius: 7px;
    margin: 19px 0 0 15px;
    width: 470px;
    height: 350px;
}


.RouteMap .left-box h2{
    text-align: center;
    margin: 0;
    padding: 5px;
    color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #0093D0;
}

.RouteMap .right-box #map{
    margin: 0;
    top: -70px;
    width: 470px;
    height: 360px;
    border-radius: 7px;
}
ol {
    display: block;
    list-style-type: decimal;
    margin: 0;
    padding: 0;
    
}
li {
    list-style: none; 
    display: list-item;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height: 22px;
    font-size: 18px;
    padding:15px;
    background-color: white;
    border: 1px solid #eee;
    text-align: -webkit-match-parent;
}
.route-line #line {
    width: 3px;
    height: 247px;
    z-index: 99999;
    background-color: #00B7EE;
    position: absolute;
    left: 455px;
    top: 130px;
}
li p {
    text-align: left;
    width: 300px;
    margin: 0;
}
li img {
    position: absolute;
    left: 430px;
}