html, body {
    margin: 0;
    padding: 0;
}

.RouteMap .out-background {
    background-color: #9EC75D;
    width: 1024px;
    height: 600px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.RouteMap .inside-background {
    background-color: white;
    border-radius: 7px;
    padding: 15px;
    position: relative;
    top: 20px;
    margin: 0 20px;
    width: 954px;
    height: 363px;
}

.inside-background h1 {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.route-line {
    width: 100%;
}
.useScroll_scroll__1bR1m .useScroll_scrollInnerContainer__2E6ME{
    height: 300px;
}
.useScroll_scrollContentWrapper__1mrFS {
    height: 300px;
}
.inside-background .route-btn {
    width: 100%;
    height: 200px;
    margin-top: 50px;
     border: 7px solid #1CBFF0;
     border-radius: 100px;
}