html, body {
    margin: 0;
    padding: 0;
}
.Footer-Box .time-box {
    height: 150px;
    width: 300px;
    background-color: #ffffff;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: black;
    margin: 0 20px;
}
.time-box #time {
    font-size: 50px;
}
.time-box #date {
    font-size: 30px;
}
.Footer-Box {
    height: 165px;
    width: 1024px;
    display: flex;
    position: relative;
    top: 450px;
    left: 0;
    flex-direction: row;
}
.FooterBoxItem{
    background-color: #ffffff;
    text-align: center;
    color: black;
    font-size: 20px;
    outline: none;
    border: 0;
    position: relative;
    cursor: pointer;
    z-index: 9999;
    height: 150px;
    width: 120px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.Footer-Box a {
    margin-right: 12px;
    
    -webkit-transform: skew(-10deg);
          -moz-transform: skew(-10deg);
            -o-transform: skew(-10deg);
}
.FooterBoxItem div {
    -webkit-transform: skew(10deg);
          -moz-transform: skew(10deg);
            -o-transform: skew(10deg);
}
.Footer-Box #select {
    top: -15px;
    color: black;
    height: 165px;
}
.FooterBoxItem:hover{
    top: -15px;
    color: black;
    height: 165px;
}
.FooterBoxItem:disabled{
    cursor: default;
}