html, body {
    margin: 0;
    padding: 0;
}

.DetailRouteInfo .out-background {
    background-color: #9EC75D;
    width: 1024px;
    height: 600px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.DetailRouteInfo .inside-background {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 7px;
    padding: 15px;
    position: relative;
    top: 20px;
    margin: 0 20px;
    width: 954px;
    height: 363px;
}
.DetailRouteInfo .left {
    flex: 1;
    color: black;
}

.DetailRouteInfo .left h1 {
    text-align: center;
    margin: 5PX 0;
    font-size: 35px;
}
.table-thead{
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 14.5px;
    height:31px;
    white-space: nowrap;
    width: 435px;
}
.table-thead > div{
    position: relative;
    height: 27px;
    display: inline-block;
    padding-top: 4px;
    text-align: center;
    border-right: 1px solid #fff;
}
.table-body{
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
    /* white-space: nowrap; */
}
.table-body > div{
    position: relative;
    height: 27px;
    display: inline-block;
    padding: 10px 0 0 0;
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #fff;
}
.table-time {
    border-right: none;
}
.DetailRouteInfo .content {
    width: 445px;
    height: 295px;
    padding: 5px;
    margin: 5px;
    background-color: #E2EECE;
    border-radius: 5px;
}
.DetailRouteInfo #map {
    margin-left: 10px;
    width: 480px;
    height: 365px;
}